@import "src/styles/mixins.scss";
.home {
  .main {
    .app {
      background: #fff;
      padding-bottom: 80px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .app-image {
        width: 50%;
        max-width: 500px;
        position: relative;
        top: 50px;
        box-sizing: border-box;
      }
      .app-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px;
        height: 100%;
        .app-name {
          //   font-family: Alegreya Sans, MillerDisplay, Didot, Baskerville,
          //     sans-serif;
          font-size: 3rem;
          line-height: 2.4;
          letter-spacing: 0.13rem;
          font-weight: 800;
        }
        .app-info {
          color: darkslategray;
          font-family: Lato, Avenir, aktiv-grotesk, sans-serif;
          font-size: 2.4rem;
          line-height: 3rem;
          letter-spacing: 0.06rem;
          font-weight: 300;
          transition-delay: 160ms;
          text-align: center;
          max-width: 64rem;
        }

        .store-links {
          display: flex;
          margin-top: 6rem;
          .app-link {
            height: 6rem;
            margin-top: -10px;
            margin-right: 10px;
          }
        }
      }
      @media only screen and (min-width: 801px) {
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }
    }
    @media only screen and (max-width: 800px) {
      .app {
        flex-direction: column;
        .app-desc {
          margin-top: 60px;
          .app-info {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
