@import 'src/styles/mixins.scss';
@import 'src/styles/animation.scss';

.home {
  .main {
    .app {
      background: #fff;
      // padding-bottom: 80px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .app-image {
        width: 100%;
        max-width: 500px;
        visibility: hidden;
        position: relative;
        box-sizing: border-box;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-fill-mode: forwards;
      }
      &.start-animation {
        &:nth-child(even) {
          .app-image {
            animation-name: animateFromRight;
            right: -150px;
            visibility: visible;
          }
        }
        &:nth-child(odd) {
          .app-image {
            animation-name: animateFromLeft;
            left: -150px;
            visibility: visible;
          }
        }
      }
      .app-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px;
        height: 100%;
        .app-name {
          //   font-family: Alegreya Sans, MillerDisplay, Didot, Baskerville,
          //     sans-serif;
          font-size: 3rem;
          line-height: 2.4;
          letter-spacing: 0.13rem;
          font-weight: 800;
        }
        .app-info {
          color: darkslategray;
          font-family: Lato, Avenir, aktiv-grotesk, sans-serif;
          font-size: 2.4rem;
          line-height: 3rem;
          letter-spacing: 0.06rem;
          font-weight: 300;
          transition-delay: 160ms;
          text-align: center;
          max-width: 64rem;
        }

        .store-links {
          display: flex;
          margin-top: 6rem;
          .app-link {
            height: 6rem;
            margin-top: -10px;
            margin-right: 10px;
          }
        }
      }
      @media only screen and (min-width: 801px) {
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }
    }
    @media only screen and (max-width: 800px) {
      .app {
        flex-direction: column;
        .app-desc {
          margin-top: 60px;
          .app-info {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
