.policy-container {
  display: flex;
  justify-self: center;

  .digipaper-privacy-policy {
    margin: 20px;
    h2 {
      font-size: 24px;
    }
    h1 {
      font-size: 32px;
    }
    p,
    ul,
    li {
      font-size: 16px;
    }
  }
}
